In [1]:
import pandas as pd
import numpy  as np

In [2]:
dataset=pd.read_csv("dtdata.csv")
dataset.head()

   ID    Age  Income  Gender Marital Status Buys
0   1    <21    High    Male         Single   No
1   2    <21    High    Male        Married   No
2   3  21-35    High    Male         Single  Yes
3   4    >35  Medium    Male         Single  Yes
4   5    >35     Low  Female         Single  Yes